<form class="{{cssClass}} flexcol" autocomplete="off">

  <div class="flexrow core-details">
    <div class="flexrow">
      <img class="pic" src="{{source.img}}" title="{{source.name}}" data-edit="img"/>
      <input class="charname noborder" name="name" type="text" value="{{source.name}}" placeholder="Name"/>
    </div>
  </div>

  {{!-- Character Sheet Navigation --}}
  <nav class="sheet-navigation tabs flexrow" data-group="primary">
      <a class="item active" data-tab="core">Basics</a>
          {{#inventory.meta.hasAnyInventory}}<a class="item" data-tab="inventory">Inventory</a>{{/inventory.meta.hasAnyInventory}}
          {{#features.meta.hasAnyFeatures}}<a class="item" data-tab="features">Features</a>{{/features.meta.hasAnyFeatures}}
      <a class="item" data-tab="notes">Notes</a>
  </nav>

  <section class="sheet-body">

    <div class="tab" data-group="primary" data-tab="core">

      <div class="flexrow usables">
        {{#each system.usables}}
          <div class="flexcol cols {{#unless @last}}rmargin{{/unless}}">
            <input class="name noborder" name="system.usables.{{@index}}.name" type="text" value="{{this.name}}" placeholder="Name"/>
            <div class="flexrow">
              <input class="value" name="system.usables.{{@index}}.value" type="text" value="{{this.value}}" placeholder="0"/>
              <span class="sep"> / </span>
              <input class="value" name="system.usables.{{@index}}.max" type="text" value="{{this.max}}" placeholder="0"/>
            </div> 
          </div>
        {{/each}}
      </div>

      <div class="flexrow trackables">
        {{#each system.trackables}}
          <div class="flexcol cols {{#unless @last}}rmargin{{/unless}}">
            <input class="name noborder" name="system.trackables.{{@index}}.name" type="text" value="{{this.name}}" placeholder="Name"/>
            <input class="value" name="system.trackables.{{@index}}.value" type="text" value="{{this.value}}" placeholder="0"/> 
          </div>
        {{/each}}
      </div>

      <div class="flexcol otherinfo">
        <header>Other Information</header>
        <div class="editor">
          {{editor system.notes target="system.notes" button=true owner=true editable=true}}
        </div>
      </div>

    </div>

    {{!-- Inventory Tab --}}
    <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
      {{#if inventory.meta.usesSimpleInventory}}
        {{> "systems/systemless/templates/actors/parts/inventory-simple-partial.hbs"}}
      {{else}}
        {{> "systems/systemless/templates/actors/parts/inventory-partial.hbs"}}
      {{/if}}
    </div>

    {{!-- Features Tab --}}
    <div class="tab features flexcol" data-group="primary" data-tab="features">
      {{#if features.meta.usesSimpleFeatures}}
        {{> "systems/systemless/templates/actors/parts/features-simple-partial.hbs"}}
      {{else}}
        {{> "systems/systemless/templates/actors/parts/features-partial.hbs"}}
      {{/if}}
    </div>

    {{!-- Notes Tab --}}
    <div class="tab notes flexcol" data-group="primary" data-tab="notes">
      {{> "systems/systemless/templates/actors/parts/notes-partial.hbs"}}
    </div>

  </section>



</form>