<div class= "itemlist-partial flexcol">


  <div class="itemlist-lists">

    {{!-- Other --}}
    <ul>
      {{#each features.other.items}}
        <li class="item flexrow" data-item-id='{{this._id}}'>
          <div class="item-image event-item-img" role="button" aria-label="{{this.name}}" style="background-image: url('{{this.img}}')"></div>
          <div class="item-name drop">{{this.name}}</div>
          {{#this.system.countEnabled}}
          <div class="flexrow drop counter">
            <span>{{this.system.count}}</span>
            <a class="event-item-count-increase" title="Increase"><i class="fas fa-plus"></i></a>
            <a class="event-item-count-decrease" title="Decrease"><i class="fas fa-minus"></i></a>
          </div>
          {{else}}
            <div>&nbsp;</div>
          {{/this.system.countEnabled}}
          <div class="item-control flexrow drop">
            <div><a class="event-item-edit" title="Edit"><i class="fas fa-edit"></i></a></div>
            <div><a class="event-item-delete" title="Delete"><i class="fas fa-trash"></i></a></div>
          </div>
        </li>
      {{/each}}
    </ul>

  </div>

</div>