<div class= "itemlist-partial flexcol">

  {{!-- Overall Header --}}
  {{#inventory.meta.hasNumericWeight}}
  <div class="flexrow header">
    <span class="weight">Total Weight: {{inventory.meta.totalWeight}}</span>
  </div>
  {{/inventory.meta.hasNumericWeight}}

  <div class="itemlist-lists">

    {{!-- Other --}}
    <ul>
      {{#each inventory.other.items}}
        <li class="item flexrow" data-item-id='{{this._id}}'>
          <div class="item-image event-item-img" role="button" aria-label="{{this.name}}" style="background-image: url('{{this.img}}')"></div>
          <div class="item-name drop">{{this.name}}</div>
          <div class="drop">{{#this.usesWeight}} Weight: {{this.actWeight}}{{/this.usesWeight}}</div>
          <div class="item-control flexrow drop">
            <div><a class="event-item-edit" title="Edit"><i class="fas fa-edit"></i></a></div>
            <div><a class="event-item-delete" title="Delete"><i class="fas fa-trash"></i></a></div>
          </div>
        </li>
      {{/each}}
    </ul>

  </div>

</div>